<!DOCTYPE html>
 <html lang="en">
 <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
 </head>
 <body>
<div>
<form class="w3-container" style="align-items: center;" >
  
        <label for="id" class="w3-text-blue"><b>Student Id</b></label>
        <br>
        <input  type="number" name="Id" class="w3-input w3-border" placeholder="Enter your Id">
        <small id="nameHelp" >Enter student's Id</small>
     <br> 
    <label for="name" class="w3-text-blue">Student Name</label>  <br>
    <input  type="text" name="Name" class="w3-input w3-border" placeholder="Enter your Name"> 
      <small id="nameHelp" >Enter student's name</small>
     <br>
    <label for="email" class="w3-text-blue">Student Email</label>
    <input  type="text" name="email" class="w3-input w3-border" placeholder="Enter your Email">
    <small id="nameHelp">Enter student's email id</small>
    <br>
    <label for="description" class="w3-text-blue">Student Discription</label>
    <textarea  name="description" class="w3-input w3-border" placeholder="Enter Description">
    </textarea>
    <small id="descHelp">Enter student description</small> 
    <br> 
</form> <br>
<button class="btn btn-primary" (click)="createStudent()" style="margin-left: 20px;">Enroll</button>
</div>

</body>
</html>