<!DOCTYPE html>
<html>
<head>
<style>
.button {
  position: relative;
  background-color: #4CAF50;
  border: none;
  font-size: 28px;
  color: #FFFFFF;
  padding: 20px;
  width: 200px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.button:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
</style>
</head>
<body>
<div>
    <img id="abc" src="./assets/img/pc5.png" style="width: 100%; height: 655px; ">
    <h1 style="color: whitesmoke;font-size: 60px; margin-top: -42%; margin-left: 25%; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
        Data Structure And <br> Alogorithm Certification
    </h1>
     <h4 style="color: whitesmoke; margin-top: 2%; margin-left: 25%;">
    <br>
        Master Algorithmic Programming Techniques. Learn algorithms through<br><br>
        programming and advance your software engineering or data science career <br><br><br></h4>

        <div class="StarRating_1qk9an0-o_O-nonEditable_1ko0lno" data-reactid="915">

        </div>
        <h4 style="color: whitesmoke; margin-top: 2%; margin-left: 25%; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> 
     <button class="button" style="padding: 18px 22px;height: 50%; background-color: whitesmoke ;display: inline-block;
     font-size: 18px;color: black;border-radius: 12px; padding-bottom: -15px;"><a routerLink="/student-create">Enroll for Free<br> Starts Apr 15</a></button>
      <br></h4>
      <h3 style="color: whitesmoke; margin-left: 42%; margin-top: -88px;">
        Try for Free: Enroll to start your 7-<br>day full access free trial<br>

        <small style="color: whitesmoke;">Finanical aid available</small> </h3>
      <h4 style="color: whitesmoke; margin-left: 5%;">35,814 already Enrolled !! </h4>
</div><br>
<div class="jumbotron" style="height: 100%; background-color: lightgoldenrodyellow; margin-top: 10%;">
    <br>
    <div>
  <h2 style="text-align: center; font-size: 40px;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Winning Awards for the best Top 3 upon compeletion of program</h2>
  <p style="text-align: center; font-size: 20px;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
      Let's check yourself where you stand! 
  </p>
    </div>
    <table style="width: 100%; border-color: lightcyan; border-width: 20%;">
  <div class="card-group">
    <div class="card" style="margin-left: 5%;">
        <img class="card-img-top" src="./assets/img/2nd.jpg" alt="Code" height="260px" width="340px">
        <div class="card-body">
           <h5 class="card-title" style="font-size: 20px; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif"> Hold : Second Rank </h5>
           <p class="card-text">Second Prize : Rs.50,000 and<br>more exciting goodies. </p>
           <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card" style="margin-left: 40%; margin-top: -350px;">
        <img class="card-img-top" src="./assets/img/1st.jpg" alt="Code" height="260px" width="340px">
        <div class="card-body">
            <h5 class="card-title" style="font-size: 20px;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif"> Hold : First Rank (Champion)</h5>
            <p class="card-text">First Prize : Rs.1 Lac and<br>exciting goodies. </p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card" style="margin-left: 950px; margin-top: -357px;">
        <img class="card-img-top" src="./assets/img/3rd.jpg" alt="Code" height="260px" width="340px">
        <div class="card-body">
            <h5 class="card-title" style="font-size: 20px;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif"> Hold : Third Rank </h5>
            <p class="card-text">Third Prize : Rs.25,000 and<br>more exciting goodies. </p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
  </div>
    </table>
</div>
<br>
<div class="work">
    <table id="aa">
        <img src="./assets/img/pc3.jpg" alt="abc" height="90%" width="30%" style="float: right; margin-right: 5%;">
        <h2 style="margin-left: 30%;"><u>How The Specialization Works</u></h2><br>
        <table id="aaa" style="height: 100%; width: 40%; margin-left: 10%;">
          <h2>Take Courses</h2>
          <p>A Coursera Specialization is a series of courses that helps you master a skill.<br>
             To begin, enroll in the Specialization directly, or review its courses and choose <br>
             the one you'd like to start with. When you subscribe to a course that is part<br> 
             of a Specialization, you’re automatically subscribed to the full Specialization.<br>
            It’s okay to complete just one course — you can pause your learning or end your<br>
             subscription at any time. Visit your learner dashboard to track your course<br>
              enrollments and your progress.</p>
              <h2>Hands-on Project</h2>
              <p>Every Specialization includes a hands-on project. You'll need to successfully<br>
             finish the project(s) to complete the Specialization and earn your certificate.<br>
              If the Specialization includes a separate course for the hands-on project, you'll<br>
               need to finish each of the other courses before you can start it.</p>
            <h2>Earn a Certificate</h2>
            <p>When you finish every course and complete the hands-on project,<br>
                 you'll earn a Certificate that you can share with prospective<br>
                  employers and your professional network</p>
        </table>
   
    </table>
    </div>
<br>
<div class="jumbotron" >
    <h3 class="display-9" style="text-align: center; font-size: 50px;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Data Structure Online training certification</h3>
     <p class="lead" style="text-align: center; font-size: 30px;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Our Channel is the market-leader for online training certification</p>
     <hr class="my-4">
     <p style="text-align: center; font-size: 30px;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Click on this link to subscribe our Channel to get updated Notifications.</p>
     <a class="btn btn-primary btn-lg" onclick="alert()" style="margin-left: 550px; font-size: 30px;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Click Here</a>
</div>
</body>
</html>